/*colorpalette
amaranth pink: #F194B4;
pine green: #157a6e;
black: #000;
tea green: #c0eec0; */

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #157a6e;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.title-text {
  font-family: 'Roboto';
  color: #18534c;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 5px;
  text-shadow: -2.5px 2.5px 0px #F194B4, -5px 5px 0px #c0eec0;
}

.slogan {
  font-family: 'Roboto';
  color: #13453f;
  text-shadow: -1px 1px #f194b5a5;
  margin-bottom: 40px;
}

.input-wrapper {
  padding: 10px 10px 20px;
  margin: 10px;
  text-align: center;
  align-content: center;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(64, 62, 72, 0.789);
}

.event-summary-title,
.event-about-title {
  font-variant: small-caps;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin: 10px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  font-family: 'Roboto';
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #f194b4;
  color: white;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #c0eec0;
  color: black;
}

.data-wrapper {
  padding: 20px 20px 35px;
  margin: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(64, 62, 72, 0.789);
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recharts-pie-label-text {
  font-family: 'Roboto';
  font-weight: 200;
  text-shadow: 1px 1px 1px #413c5893;
}

.EventList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  list-style: none;
  text-align: center;
}

.event {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  padding: 10px 10px 35px;
  margin: 10px;
  min-height: 310px;
  text-align: left;
  border-radius: 5px;
  position: relative;
  background-color: #c0eec0;
  color: #000;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event-htmlLink {
  color: #000;
  text-decoration: none;
}

.event-htmlLink:hover,
.event-htmlLink:active {
  color: #f194b4;
}

.details-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 7px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #f194b4;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.details-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.description {
  overflow-x: hidden;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 15px;
}

.numberOfEvents {
  margin-left: 10px;
}

.number-input {
  width: 200px;
  text-align: left;
}

.Alert {
  font-style: italic;
  font-size: 0.75rem;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}
